@import url('https://fonts.googleapis.com/css2?family=Montserrat&family=Poppins&family=Roboto&display=swap');

:root {
    --primary-color: #15803d;
    --secondary-color: #dc2626;
    --font-color: #000;
    --btn-grn-color: #16a34a;
    --wh-bg: #ffff;
    --bg-grey: #f3f4f6;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'poppins', sans-serif;
    background-color: var(--wh-bg);
}

a {
    text-decoration: none;
}

ul {
    list-style-type: none;
}

/* Nav Bar */
.header {
    background-color: var(--wh-bg);
    color: var(--primary-color);
    padding: 1rem 1.5rem;
    box-shadow: 0 1px 3px rgba(0 0 0 / 10%),
        0 2px 2px rgba(0 0 0 / 6%),
        0 0 2px rgba(0 0 0 / 7%);
}

.nav-bar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 80%;
    margin: auto;
}

.nav-bar .link {
    color: var(--primary-color);
}

.nav-bar .link:hover {
    color: var(--secondary-color);
}

.nav-brand {
    display: flex;
    align-items: center;
}

.getfed {
    color: var(--secondary-color);
    font-size: xx-large;
}

.serach-box {
    border: none;
    background-color: var(--bg-grey);
    border-radius: 0.3rem;
    padding: 10px;
    width: 15rem;
    height: 2rem;
    margin: 0 10px 15px 0;
}

.nav-list ul {
    display: flex;
    align-items: center;
}

.nav-list li {
    margin: 1rem;
    font-weight: 500;
}

.nav-list button {
    background-color: var(--wh-bg);
    border: none;
    color: var(--primary-color);
    font-size: inherit;
    font-family: inherit;
    cursor: pointer;
}

.nav-list button:hover {
    color: var(--secondary-color);
}

/* Main-Container */
.main-container .menu-routing {
    color: var(--font-color);
}

.main-container {
    width: 80%;
    margin: auto;
    margin-top: 2rem;
}

.filter-btn,
#search-btn {
    cursor: pointer;
    color: grey;
    padding: 10px;
    margin-top: 13px;
    border-radius: 20px;
    border: none;
    background-color: var(--wh-bg);
    box-shadow: 0 1px 3px rgba(0 0 0 / 10%),
        0 2px 2px rgba(0 0 0 / 6%),
        0 0 2px rgba(0 0 0 / 7%);
}

.filter-btn:hover,
#search-btn:hover {
    background-color: #f9fafb;
}

.rest-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.rest-cards {
    margin: 2rem;
    background-color: var(--wh-bg);
    cursor: pointer;
    box-shadow: 0 1px 3px rgba(0 0 0 / 10%),
        0 2px 2px rgba(0 0 0 / 6%),
        0 0 2px rgba(0 0 0 / 7%);
}

.rest-cards:hover {
    box-shadow: 0 1px 3px rgba(0 0 0 / 50%),
        0 2px 2px rgba(0 0 0 / 30%),
        0 0 2px rgba(0 0 0 / 35%);
}

.rest-cards img {
    width: 100%;
    height: 150px;
}

.rest-info {
    padding: 10px;
}

.rest-info * {
    margin-top: 7px;
}

.rest-info .cuisines {
    font-size: smaller;
}

.rest-info #rating {
    background-color: var(--btn-grn-color);
    color: white;
    width: fit-content;
    padding: 3px;
    border-radius: 5px;
}

/* Shimmer */
.shimmer-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.shimmer-card {
    margin: 2rem;
    box-shadow: 0 1px 3px rgba(0 0 0 / 10%),
        0 2px 2px rgba(0 0 0 / 6%),
        0 0 2px rgba(0 0 0 / 7%);
    cursor: pointer;
}

.shimmer-image {
    width: 100%;
    height: 150px;
    background-color: var(--bg-grey);
}

.shimmer-title,
.shimmer-rating,
.shimmer-desc {
    width: 70%;
    margin: 1rem;
    padding: 1rem;
    background-color: var(--bg-grey);
}

.shimmer-rating {
    width: 20%;
}

.shimmer-desc {
    width: 70%;
}

/* Rest Menu */

.rest-menu {
    width: 50%;
    margin: auto;
    margin-top: 1rem;
    padding: 1rem;
}

.rest-menu .cuisines,
.rest-menu .location {
    font-size: smaller;
    color: grey;
}

.rest-menu-info-rat {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
}

.rest-menu-rating {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    gap: 10px;
}

.rest-menu-name-desc-price{
    margin-right: 10px;
}

#rating {
    background-color: var(--btn-grn-color);
    color: white;
    padding: 2px 5px;
    border-radius: 5px;
}

.rest-menu-cost-time {
    display: flex;
    gap: 5rem;
}

.rest-menu-info-rat,
.rest-menu-cost-time,
.rest-menu-list {
    border-bottom: 1px dashed lightgrey;
    padding: 1rem 0;
}



.menu-title {
    margin-top: 1rem;
    padding: 1rem 0;
}

.menu-img {
    width: 100px;
    height: 100px;
}

.add-item {
    background-color: var(--btn-grn-color);
    border: none;
    color: var(--wh-bg);
    border-radius: 5px;
    cursor: pointer;
    padding: 5px 10px;
}

.add-item:hover {
    background-color: var(--primary-color);
    color: var(--wh-bg);
}

.menu-item-desc {
    font-size: small;
    color: grey;
}

.rest-menu-item-list {
    padding: 1rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px dashed lightgrey;

}

.rest-menu-img-add {
    display: flex;
    align-items: center;
    gap: 20px;
}
